
.row {
  display: grid;
  padding: 0 4px;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}


.column {
  max-width: 25%;
  padding: 0 4px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(625px, 1fr));
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}