*{
    font-family: 'Montserrat', sans-serif;
}





/* contactar css */

input[type=text], select, textarea{
    width: 100%; 
    padding: 9px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical  
  }
  
  .email{
        width: 100%; 
        padding: 9px;  
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical  
  }
  
  .boton {
    background-color: #79845B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
   
  .boton:hover {
    background-color: #98A37B;
  }
  
  
  .container {
    border-radius: 5px;
    padding: 20px;
    width: 400px;
  }