* {
  /* margenes */
  margin: 0;
  /* rellenos */
  padding: 0;

  /* fuentes */
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #e3e6db;
}

a {
  text-decoration: none;
  color: inherit;
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #8f9b6f;
}
body::-webkit-scrollbar-thumb:hover {
  background: #606848;
}

ul {
  list-style: none;
  margin: 0 !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* navbar CCS */
.nav {
  background-color: black;
  width: 100%;
  z-index: 100;
  transition: 0.4s;
  position: fixed;
  text-align: center;
  color: #fff;
}
.img__carousel{
  height: 600px;
  object-fit: cover;
}
.nav__links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 3px solid transparent;
}
.nav__boton{
  font-size: 20px;
  margin: 0 20px;
  text-transform: uppercase;
}
.nav__mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  margin: .5rem;
  cursor: pointer;
}
.header__burger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform-origin: 3px 1px;
}
.header__burger > span:not(:last-child) {
  margin-bottom: 5px;
}

.hiden-for-desktop {
  display: none;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 1300px) {
  .hiden-for-mobile {
    display: none;
  }

  .hiden-for-desktop {
    display: inherit;
  }
}

.navbar{
  border: none !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
}

/* css botones */
.nav-link:hover {
  color: #c7cdb7 !important;
  border-bottom: 2px solid #c7cdb7 !important;
}
.active {
  color: #c7cdb7;
  border-bottom: 2px solid #c7cdb7;
}
/* logo de medio */
.bg-dark{
  background-color: #000 !important;
}
.imgnav {
  width: 160px;
  left: 0%;
  transition: all 0.2s ease;
  object-fit: contain;
  margin: 5px 20px;
}
/* fondo index */
.section__home-title {
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("imagenes/fondo/fondo-terrenaova-def.png");
  height: 655px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: 60px;
}
/*  inicio CCS (3 partes) */

/* footer CCS */

/* sector 1 */
.logo-footer {
  width: 349px;
  height: 104.542px;
  position: absolute;
  top: -35px;
  object-fit: contain;
  left: 0;
}
.footer {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.icon-redes {
  width: 48px;
  height: 48px;
}

.footer-sector-01-content {
  margin-top: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-icons-redes {
  margin: 20px 0;
}

.box-icons-content {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

/* sector 2 */

.menu-footer-title {
  margin: 55px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.footer-nav__links {
  text-transform: capitalize;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
}

.footer-nav__li {
  flex-grow: 1;
  flex-basis: 15rem;
  font-size: 1rem;
  margin: 0.65rem;
}

.footer-nav__li a:hover {
  color: #c7cdb7;
  border-bottom: 2px solid #c7cdb7;
}

/* sector 3 */

.contacto-footer-title {
  margin: 55px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.descripcion-footer-contact {
  margin: 20px 0px;
}

.email-contacto-footer {
  width: 314px;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-transform: capitalize;
}

.boton {
  background-color: #79845b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton:hover {
  background-color: #98a37b;
}
