
.galeria-img-1{
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;        
  object-position: center center;
}
.galeria-link {
  display: block;
}

.galeria-item {
  list-style-type: none;
  width: 100%;
  border-radius: 13px;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}


